In [1]:
import pandas as pd
import numpy as np

In [2]:
airport = pd.read_csv("search_sample_data/airports.csv")

In [3]:
airport.head()

,location_id,location_type,airport_group,country_code,country,region,latitude,longitude
0,airport/0,airport,airport/0,BR,Brazil,South America,-29.153099,-53.743301
1,airport/AAA,airport,airport/AAA,FR,French Polynesia,Oceania,-17.352600,-145.509995
2,airport/AAB,airport,airport/AAB,AU,Australia,Oceania,-26.700001,141.050003
3,airport/AAC,airport,airport/AAC,EG,Egypt,Africa and Mideast,31.073299,33.835800
4,airport/AAE,airport,airport/AAE,DZ,Algeria,Africa and Mideast,36.822201,7.809170

In [4]:
airport['location_type'].unique()

array(['airport', 'city'], dtype=object)

In [173]:
watch_sample_full = pd.read_csv("search_sample_data/watch_sample.csv")

In [174]:
watch_sample_full.shape

(1168145, 40)

In [231]:
watch_sample = watch_sample_full.loc[:50000,:]

In [232]:
watch_sample.shape

(50001, 40)

In [233]:
watch_sample.columns

Index(['user_id', 'trip_id', 'trip_type', 'origin', 'destination',
       'origin_type', 'destination_type', 'departure_date', 'return_date',
       'stay', 'weekend', 'filter_no_lcc', 'filter_non_stop',
       'filter_short_layover', 'filter_name', 'first_searched_dt',
       'watch_added_dt', 'status_latest', 'latest_status_change_dt',
       'status_updates', 'total_notifs', 'total_buy_notifs', 'first_rec',
       'first_price', 'first_buy_dt', 'first_buy_price', 'lowest_price',
       'last_notif_dt', 'forecast_first_target_price',
       'forecast_first_good_price', 'forecast_last_target_price',
       'forecast_last_good_price', 'forecast_last_warning_date',
       'forecast_last_danger_date', 'forecast_min_target_price',
       'forecast_max_target_price', 'forecast_min_good_price',
       'forecast_max_good_price', 'first_advance', 'watch_advance'],
      dtype='object')

In [234]:
len(watch_sample['user_id'].unique()), watch_sample.shape[0]/len(watch_sample['user_id'].unique())

(24329, 2.0552016112458382)

In [235]:
len(watch_sample['trip_id'].unique())

49873

In [236]:
np.sum(watch_sample['trip_id'].value_counts() > 1)

126

In [237]:
watch_sample['trip_type'].unique()

array(['one_way', 'round_trip'], dtype=object)

In [238]:
len(watch_sample['origin'].unique()), len(watch_sample['destination'].unique())

(816, 1028)

In [239]:
watch_sample['origin_type'].unique(), watch_sample['destination_type'].unique()

(array(['airport', 'city'], dtype=object),
 array(['airport', 'city'], dtype=object))

In [240]:
watch_sample.dtypes

user_id                         object
trip_id                         object
trip_type                       object
origin                          object
destination                     object
origin_type                     object
destination_type                object
departure_date                  object
return_date                     object
stay                           float64
weekend                          int64
filter_no_lcc                    int64
filter_non_stop                  int64
filter_short_layover             int64
filter_name                     object
first_searched_dt               object
watch_added_dt                  object
status_latest                   object
latest_status_change_dt         object
status_updates                   int64
total_notifs                   float64
total_buy_notifs               float64
first_rec                       object
first_price                    float64
first_buy_dt                    object
first_buy_price                float64
lowest_price                   float64
last_notif_dt                   object
forecast_first_target_price    float64
forecast_first_good_price      float64
forecast_last_target_price     float64
forecast_last_good_price       float64
forecast_last_warning_date      object
forecast_last_danger_date       object
forecast_min_target_price      float64
forecast_max_target_price      float64
forecast_min_good_price        float64
forecast_max_good_price        float64
first_advance                    int64
watch_advance                  float64
dtype: object

In [241]:
pd.set_option('display.max_columns', 50)
watch_sample.head(1)

,user_id,trip_id,trip_type,origin,destination,origin_type,destination_type,departure_date,return_date,stay,weekend,filter_no_lcc,filter_non_stop,filter_short_layover,filter_name,first_searched_dt,watch_added_dt,status_latest,latest_status_change_dt,status_updates,total_notifs,total_buy_notifs,first_rec,first_price,first_buy_dt,first_buy_price,lowest_price,last_notif_dt,forecast_first_target_price,forecast_first_good_price,forecast_last_target_price,forecast_last_good_price,forecast_last_warning_date,forecast_last_danger_date,forecast_min_target_price,forecast_max_target_price,forecast_min_good_price,forecast_max_good_price,first_advance,watch_advance
0,945e05e2b2510be2edb1149348fdb24852f2a6fe101e6c...,ddc5e806-226f-335d-a9f9-e59c55550832,one_way,airport/BCN,airport/EWR,airport,airport,2018-03-01,NaN,NaN,0,0,0,0,NoFilter,2018-02-26 01:22:51,2018-02-26 01:22:59,expired,2018-03-02 03:00:00,3,1.0,1.0,buy,464.0,2018-02-26 01:22:51,464.0,464.0,2018-02-28 10:58:16,406.0,248.0,491.0,245.0,2017-12-02,2018-01-18,406.0,491.0,245.0,248.0,3,3.0

In [242]:
watch_sample['stay'].unique()

array([ nan,   5.,  29.,   3.,   7.,   6.,   4.,  16.,   8.,  44.,   2.,
         0.,   9.,  10.,  14.,  91.,  11.,  17.,   1.,  28.,  13.,  24.,
        21.,  19., 169.,  22.,  12.,  15.,  30.,  49.,  20.,  61.,  18.,
       164.,  33.,  62.,  79.,  60.,  23.,  27.,  34., 120., 168.,  64.,
        37.,  32.,  89.,  42.,  48.,  56.,  70.,  25.,  92.,  81.,  50.,
        75.,  90., 125.,  35.,  43., 121.,  58.,  74., 111.,  88.,  31.,
        45., 100.,  53.,  94.,  26.,  59.,  63.,  47.,  46., 118.,  68.,
       231.,  99., 179.,  67.,  41.,  39.,  97.,  96., 136., 109., 177.,
        36.,  38., 243.,  93.,  72., 172., 127.,  83.,  57., 150., 158.,
        51.,  52., 133., 196., 182., 178., 175., 122.,  65.,  66., 126.,
       103., 135.,  76., 232.,  40.,  85., 114., 224.,  55., 123.,  80.,
        71.,  69., 112., 101., 124.,  77.,  54., 102., 153., 241., 151.,
       181., 229., 180.,  95., 161., 260.,  78., 166., 113., 106., 174.,
       115., 145., 105., 138., 237., 162., 110.,  73., 163., 171.,  84.,
        87., 155., 268., 141., 117., 167., 288., 156.,  82., 213., 230.,
       210.,  86., 128., 104., 273., 131., 185., 129., 140., 303., 240.,
       188., 134., 207., 132., 143., 116., 254., 157., 297., 258., 119.,
       130., 183., 154., 211., 221., 311., 325., 218., 160., 305.,  98.,
       149., 184., 199., 189., 108., 187., 225., 147., 146.])

In [243]:
date_cols =['departure_date',
'return_date',
'first_searched_dt',
'watch_added_dt',
'latest_status_change_dt',
'first_buy_dt',
'last_notif_dt',
'forecast_last_warning_date',
'forecast_last_danger_date']

In [244]:
for col in date_cols:
    #print(col)
    watch_sample[col] = pd.to_datetime(watch_sample[col])

C:\Users\ankur\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [245]:
df_trip = watch_sample.groupby('trip_id').agg('nunique')

C:\Users\ankur\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\groupby\groupby.py:3766: FutureWarning: In the future, NAT != NAT will be True rather than False.
  inc = np.r_[1, val[1:] != val[:-1]]

In [246]:
df_trip.shape

(49873, 40)

In [247]:
np.sum(df_trip >1)

user_id                        126
trip_id                          0
trip_type                        0
origin                           0
destination                      0
origin_type                      0
destination_type                 0
departure_date                   0
return_date                      0
stay                             0
weekend                          0
filter_no_lcc                    0
filter_non_stop                  0
filter_short_layover             0
filter_name                      0
first_searched_dt              126
watch_added_dt                  16
status_latest                   62
latest_status_change_dt        124
status_updates                  61
total_notifs                    58
total_buy_notifs                54
first_rec                       44
first_price                    107
first_buy_dt                    40
first_buy_price                 29
lowest_price                   111
last_notif_dt                    6
forecast_first_target_price    115
forecast_first_good_price       84
forecast_last_target_price     118
forecast_last_good_price        82
forecast_last_warning_date      81
forecast_last_danger_date       53
forecast_min_target_price      117
forecast_max_target_price      117
forecast_min_good_price         86
forecast_max_good_price         92
first_advance                  122
watch_advance                   15
dtype: int64

In [248]:
watch_sample[(watch_sample['trip_type']=='one_way') & ~pd.isnull(watch_sample['return_date'])]

Empty DataFrame
Columns: [user_id, trip_id, trip_type, origin, destination, origin_type, destination_type, departure_date, return_date, stay, weekend, filter_no_lcc, filter_non_stop, filter_short_layover, filter_name, first_searched_dt, watch_added_dt, status_latest, latest_status_change_dt, status_updates, total_notifs, total_buy_notifs, first_rec, first_price, first_buy_dt, first_buy_price, lowest_price, last_notif_dt, forecast_first_target_price, forecast_first_good_price, forecast_last_target_price, forecast_last_good_price, forecast_last_warning_date, forecast_last_danger_date, forecast_min_target_price, forecast_max_target_price, forecast_min_good_price, forecast_max_good_price, first_advance, watch_advance]
Index: []

In [249]:
watch_sample[(watch_sample['trip_type']!='one_way') & pd.isnull(watch_sample['return_date'])]

Empty DataFrame
Columns: [user_id, trip_id, trip_type, origin, destination, origin_type, destination_type, departure_date, return_date, stay, weekend, filter_no_lcc, filter_non_stop, filter_short_layover, filter_name, first_searched_dt, watch_added_dt, status_latest, latest_status_change_dt, status_updates, total_notifs, total_buy_notifs, first_rec, first_price, first_buy_dt, first_buy_price, lowest_price, last_notif_dt, forecast_first_target_price, forecast_first_good_price, forecast_last_target_price, forecast_last_good_price, forecast_last_warning_date, forecast_last_danger_date, forecast_min_target_price, forecast_max_target_price, forecast_min_good_price, forecast_max_good_price, first_advance, watch_advance]
Index: []

In [250]:
watch_sample[(watch_sample['trip_type']=='one_way') & ~pd.isnull(watch_sample['stay'])]

Empty DataFrame
Columns: [user_id, trip_id, trip_type, origin, destination, origin_type, destination_type, departure_date, return_date, stay, weekend, filter_no_lcc, filter_non_stop, filter_short_layover, filter_name, first_searched_dt, watch_added_dt, status_latest, latest_status_change_dt, status_updates, total_notifs, total_buy_notifs, first_rec, first_price, first_buy_dt, first_buy_price, lowest_price, last_notif_dt, forecast_first_target_price, forecast_first_good_price, forecast_last_target_price, forecast_last_good_price, forecast_last_warning_date, forecast_last_danger_date, forecast_min_target_price, forecast_max_target_price, forecast_min_good_price, forecast_max_good_price, first_advance, watch_advance]
Index: []

In [251]:
watch_sample[(watch_sample['trip_type']!='one_way') & pd.isnull(watch_sample['stay'])]

Empty DataFrame
Columns: [user_id, trip_id, trip_type, origin, destination, origin_type, destination_type, departure_date, return_date, stay, weekend, filter_no_lcc, filter_non_stop, filter_short_layover, filter_name, first_searched_dt, watch_added_dt, status_latest, latest_status_change_dt, status_updates, total_notifs, total_buy_notifs, first_rec, first_price, first_buy_dt, first_buy_price, lowest_price, last_notif_dt, forecast_first_target_price, forecast_first_good_price, forecast_last_target_price, forecast_last_good_price, forecast_last_warning_date, forecast_last_danger_date, forecast_min_target_price, forecast_max_target_price, forecast_min_good_price, forecast_max_good_price, first_advance, watch_advance]
Index: []

In [252]:
trip_features = ['trip_id','trip_type','origin','destination','origin_type','destination_type','departure_date','return_date','stay','weekend',
'filter_no_lcc','filter_non_stop','filter_short_layover','filter_name']

In [253]:
trip_data = watch_sample[trip_features].drop_duplicates()

In [254]:
trip_data.shape

(49873, 14)

In [255]:
trip_data['filter_name'].unique()

array(['NoFilter', 'And(NonStop,NoLCC)', 'ShortLayover', 'NonStop',
       'NoLCC', 'And(ShortLayover,NoLCC)'], dtype=object)

In [256]:
trip_data_origin = trip_data.merge(airport[['location_id','latitude','longitude']], left_on='origin', right_on='location_id')

In [257]:
trip_data_origin.rename(columns = {'latitude':'latitude_origin'}, inplace = True) 
trip_data_origin.rename(columns = {'longitude':'longitude_origin'}, inplace = True)

In [258]:
trip_data_destination =  trip_data_origin.merge(airport[['location_id','latitude','longitude']], left_on='destination', right_on='location_id')

In [259]:
trip_data_destination.rename(columns = {'latitude':'latitude_destination'}, inplace = True) 
trip_data_destination.rename(columns = {'longitude':'longitude_destination'}, inplace = True)

In [260]:
trip_data_destination.head()

,trip_id,trip_type,origin,destination,origin_type,destination_type,departure_date,return_date,stay,weekend,filter_no_lcc,filter_non_stop,filter_short_layover,filter_name,location_id_x,latitude_origin,longitude_origin,location_id_y,latitude_destination,longitude_destination
0,ddc5e806-226f-335d-a9f9-e59c55550832,one_way,airport/BCN,airport/EWR,airport,airport,2018-03-01,NaT,NaN,0,0,0,0,NoFilter,airport/BCN,41.297100,2.07846,airport/EWR,40.692501,-74.168701
1,f5552c10-5465-30a2-a34a-66b9fc06bc24,round_trip,airport/BCN,airport/EWR,airport,airport,2019-07-28,2019-08-10,13.0,0,0,1,0,NonStop,airport/BCN,41.297100,2.07846,airport/EWR,40.692501,-74.168701
2,99341aa4-341a-372c-8d0d-78b7a64728c9,one_way,airport/BCN,airport/EWR,airport,airport,2018-02-28,NaT,NaN,0,0,0,0,NoFilter,airport/BCN,41.297100,2.07846,airport/EWR,40.692501,-74.168701
3,d72776c7-015e-3b16-9400-56eff2594194,round_trip,city/QHO,airport/EWR,city,airport,2019-01-08,2019-01-13,5.0,0,1,0,0,NoLCC,city/QHO,29.814899,-95.31015,airport/EWR,40.692501,-74.168701
4,cab24962-174d-352d-be46-d9500a3b0127,round_trip,city/QHO,airport/EWR,city,airport,2018-04-09,2018-04-20,11.0,0,0,0,0,NoFilter,city/QHO,29.814899,-95.31015,airport/EWR,40.692501,-74.168701

In [261]:
trip_data_destination.drop(['origin','destination','location_id_x','location_id_y'], axis=1, inplace=True)

In [262]:
trip_data_destination.columns

Index(['trip_id', 'trip_type', 'origin_type', 'destination_type',
       'departure_date', 'return_date', 'stay', 'weekend', 'filter_no_lcc',
       'filter_non_stop', 'filter_short_layover', 'filter_name',
       'latitude_origin', 'longitude_origin', 'latitude_destination',
       'longitude_destination'],
      dtype='object')

In [263]:
trip_data_destination['trip_type'].value_counts()

round_trip    40503
one_way        9370
Name: trip_type, dtype: int64

In [264]:
#trip_data_destination['departure_month'] = trip_data_destination['departure_date'].apply(lambda x: x.strftime('%B'))

In [265]:
trip_data_destination['departure_month'] = pd.DatetimeIndex(trip_data_destination['departure_date']).month

In [266]:
trip_data_destination['departure_year'] = pd.DatetimeIndex(trip_data_destination['departure_date']).year

In [267]:
(trip_data_destination['departure_date'][0] -trip_data_destination['departure_date'][1]  ).days

-514

In [268]:
dummies = pd.get_dummies(trip_data_destination[['origin_type','destination_type','filter_name']])

In [269]:
trip_data_dummies = pd.concat([trip_data_destination,dummies], axis=1)

In [270]:
trip_data_dummies.head()

,trip_id,trip_type,origin_type,destination_type,departure_date,return_date,stay,weekend,filter_no_lcc,filter_non_stop,filter_short_layover,filter_name,latitude_origin,longitude_origin,latitude_destination,longitude_destination,departure_month,departure_year,origin_type_airport,origin_type_city,destination_type_airport,destination_type_city,"filter_name_And(NonStop,NoLCC)","filter_name_And(ShortLayover,NoLCC)",filter_name_NoFilter,filter_name_NoLCC,filter_name_NonStop,filter_name_ShortLayover
0,ddc5e806-226f-335d-a9f9-e59c55550832,one_way,airport,airport,2018-03-01,NaT,NaN,0,0,0,0,NoFilter,41.297100,2.07846,40.692501,-74.168701,3,2018,1,0,1,0,0,0,1,0,0,0
1,f5552c10-5465-30a2-a34a-66b9fc06bc24,round_trip,airport,airport,2019-07-28,2019-08-10,13.0,0,0,1,0,NonStop,41.297100,2.07846,40.692501,-74.168701,7,2019,1,0,1,0,0,0,0,0,1,0
2,99341aa4-341a-372c-8d0d-78b7a64728c9,one_way,airport,airport,2018-02-28,NaT,NaN,0,0,0,0,NoFilter,41.297100,2.07846,40.692501,-74.168701,2,2018,1,0,1,0,0,0,1,0,0,0
3,d72776c7-015e-3b16-9400-56eff2594194,round_trip,city,airport,2019-01-08,2019-01-13,5.0,0,1,0,0,NoLCC,29.814899,-95.31015,40.692501,-74.168701,1,2019,0,1,1,0,0,0,0,1,0,0
4,cab24962-174d-352d-be46-d9500a3b0127,round_trip,city,airport,2018-04-09,2018-04-20,11.0,0,0,0,0,NoFilter,29.814899,-95.31015,40.692501,-74.168701,4,2018,0,1,1,0,0,0,1,0,0,0

In [271]:
trip_data_one_way = trip_data_dummies[trip_data_dummies['trip_type']=='one_way']

In [272]:
trip_data_one_way.drop(['trip_type','departure_date','origin_type','destination_type','return_date','stay','filter_name'], axis=1, inplace=True)

C:\Users\ankur\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [273]:
trip_data_one_way.columns

Index(['trip_id', 'weekend', 'filter_no_lcc', 'filter_non_stop',
       'filter_short_layover', 'latitude_origin', 'longitude_origin',
       'latitude_destination', 'longitude_destination', 'departure_month',
       'departure_year', 'origin_type_airport', 'origin_type_city',
       'destination_type_airport', 'destination_type_city',
       'filter_name_And(NonStop,NoLCC)', 'filter_name_And(ShortLayover,NoLCC)',
       'filter_name_NoFilter', 'filter_name_NoLCC', 'filter_name_NonStop',
       'filter_name_ShortLayover'],
      dtype='object')

In [274]:
trip_data_one_way_indexed= trip_data_one_way.set_index('trip_id')

In [275]:
trip_data_one_way_indexed.values.shape

(9370, 20)

In [276]:
trip_data_two_way = trip_data_dummies[trip_data_dummies['trip_type']=='round_trip']

In [277]:
trip_data_two_way.drop(['trip_type','origin_type','destination_type','filter_name'], axis=1, inplace=True)

C:\Users\ankur\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [145]:
from sklearn.metrics.pairwise import euclidean_distances

In [278]:
matrix_one_way = trip_data_one_way_indexed.values

In [225]:
matrix_one_way.shape

(18716, 20)

In [279]:
dist = euclidean_distances(matrix_one_way, matrix_one_way)

In [285]:
dist.shape

(9370, 9370)

In [286]:
dist_df = pd.DataFrame(dist, columns =trip_data_one_way_indexed.index )

In [290]:
dist_df.index = trip_data_one_way_indexed.index

In [292]:
a = [1,4,0,2]
a.index(min(a))

2

In [295]:
trip_ids = list(trip_data_one_way_indexed.index)

In [315]:
import gc

In [418]:
gc.collect()

815

In [321]:
from heapq import nsmallest

def second_smallest(numbers):
    return nsmallest(2, numbers)[-1]

In [322]:
def min_trip(y):
    x = list(y)
    num = second_smallest(x)
    ind = x.index(num)
    return trip_ids[ind]

In [323]:
dist_df['minimum_dis_trip'] = dist_df.apply(min_trip)

In [324]:
dist_df['minimum_dis_trip'].head()

trip_id
ddc5e806-226f-335d-a9f9-e59c55550832    99341aa4-341a-372c-8d0d-78b7a64728c9
99341aa4-341a-372c-8d0d-78b7a64728c9    ddc5e806-226f-335d-a9f9-e59c55550832
2bd02cc2-c2ed-3e20-8e5b-4de41043a6c3    aceafca2-4e1c-31c9-bbb3-ac8713526141
01aa02ef-9787-3c5b-9118-ca6859fe9fd2    9c5a173c-d102-3e70-a84b-0ecb58ce5651
e39df009-d84d-3b8a-800e-73966fc1ac23    c2de11cf-b913-36d7-a518-aa03a19bf295
Name: minimum_dis_trip, dtype: object

In [413]:
trip_data_one_way[trip_data_one_way['trip_id'].isin(['ddc5e806-226f-335d-a9f9-e59c55550832','99341aa4-341a-372c-8d0d-78b7a64728c9'])]

,trip_id,weekend,filter_no_lcc,filter_non_stop,filter_short_layover,latitude_origin,longitude_origin,latitude_destination,longitude_destination,departure_month,departure_year,origin_type_airport,origin_type_city,destination_type_airport,destination_type_city,"filter_name_And(NonStop,NoLCC)","filter_name_And(ShortLayover,NoLCC)",filter_name_NoFilter,filter_name_NoLCC,filter_name_NonStop,filter_name_ShortLayover
0,ddc5e806-226f-335d-a9f9-e59c55550832,0,0,0,0,41.2971,2.07846,40.692501,-74.168701,3,2018,1,0,1,0,0,0,1,0,0,0
2,99341aa4-341a-372c-8d0d-78b7a64728c9,0,0,0,0,41.2971,2.07846,40.692501,-74.168701,2,2018,1,0,1,0,0,0,1,0,0,0

In [339]:
dist_df.reset_index(inplace=True)

In [332]:
watch_sample_one_way = watch_sample[watch_sample['trip_type']=='one_way']

In [335]:
watch_sample_one_way.shape, len(watch_sample_one_way['user_id'].unique())

((9387, 40), 6062)

In [336]:
watch_sample_one_way.head()

,user_id,trip_id,trip_type,origin,destination,origin_type,destination_type,departure_date,return_date,stay,weekend,filter_no_lcc,filter_non_stop,filter_short_layover,filter_name,first_searched_dt,watch_added_dt,status_latest,latest_status_change_dt,status_updates,total_notifs,total_buy_notifs,first_rec,first_price,first_buy_dt,first_buy_price,lowest_price,last_notif_dt,forecast_first_target_price,forecast_first_good_price,forecast_last_target_price,forecast_last_good_price,forecast_last_warning_date,forecast_last_danger_date,forecast_min_target_price,forecast_max_target_price,forecast_min_good_price,forecast_max_good_price,first_advance,watch_advance
0,945e05e2b2510be2edb1149348fdb24852f2a6fe101e6c...,ddc5e806-226f-335d-a9f9-e59c55550832,one_way,airport/BCN,airport/EWR,airport,airport,2018-03-01,NaT,NaN,0,0,0,0,NoFilter,2018-02-26 01:22:51,2018-02-26 01:22:59,expired,2018-03-02 03:00:00,3,1.0,1.0,buy,464.0,2018-02-26 01:22:51,464.0,464.0,2018-02-28 10:58:16,406.0,248.0,491.0,245.0,2017-12-02,2018-01-18,406.0,491.0,245.0,248.0,3,3.0
7,117eb4bde001046b792801d47c793f816bfe16c780962f...,641f7cc0-a16e-34f5-8f4d-fe5c807dbdbe,one_way,airport/FLL,city/CHI,airport,city,2018-06-21,NaT,NaN,0,0,0,0,NoFilter,2018-05-22 18:59:33,NaT,shopped,2018-05-22 18:59:33,1,0.0,0.0,wait,97.0,NaT,NaN,97.0,NaT,82.0,62.0,82.0,62.0,2018-01-27,2018-05-26,82.0,82.0,62.0,62.0,30,NaN
9,7c40c35c4c0c34b7ef115e4299797406d5273a05ec51fc...,c71f79b7-04d9-33e7-90dd-b2e194bdb732,one_way,airport/CUN,airport/FLL,airport,airport,2018-12-30,NaT,NaN,0,0,1,0,NonStop,2018-09-02 23:49:30,NaT,shopped,2018-09-02 23:49:30,1,0.0,0.0,wait,215.0,NaT,NaN,215.0,NaT,139.0,112.0,139.0,112.0,NaT,2018-12-28,139.0,139.0,112.0,112.0,119,NaN
11,90fdf6e7fdadcb6b68dd1eb8d0669acdc2720cd8004d50...,63f9d402-4be9-38b3-927d-b8671337984f,one_way,city/QDF,airport/PVD,city,airport,2018-02-20,NaT,NaN,0,0,0,1,ShortLayover,2018-01-19 20:04:17,2018-01-19 20:04:18,expired,2018-02-21 04:45:08,3,5.0,5.0,buy,96.0,2018-01-19 20:04:17,96.0,96.0,2018-02-14 08:22:52,94.0,85.0,373.0,82.0,2018-01-10,2018-01-24,94.0,373.0,82.0,85.0,32,32.0
14,1ae7bdefdfebe453571fa5ad5f9916f84cf0082ca6cffa...,a77c3632-5ac4-365d-bfb3-ee0c67dbece3,one_way,airport/LIS,airport/MIA,airport,airport,2018-08-16,NaT,NaN,0,0,0,0,NoFilter,2018-08-01 04:29:20,NaT,shopped,2018-08-01 04:29:20,1,0.0,0.0,buy,843.0,2018-08-01 04:29:20,843.0,841.0,NaT,828.0,367.0,829.0,366.0,2018-03-02,2018-06-18,828.0,829.0,366.0,367.0,15,NaN

In [342]:
one_way_recommendations = watch_sample_one_way.merge(dist_df[['trip_id','minimum_dis_trip']], on='trip_id')[['user_id','trip_id','minimum_dis_trip']]

In [344]:
one_way_recommendations.shape, watch_sample_one_way.shape

((9387, 3), (9387, 40))

In [348]:
one_way_user_trips = one_way_recommendations.groupby('user_id')['trip_id'].apply(list)

In [365]:
one_way_user_trips.loc['00191968c472deb3a857df8b83a29953a48d029c6f64151f87a035fe58ae7161']

['a151809e-45e4-3f0e-a280-36f685b1cdd3',
 '2fdbca5c-3f85-3e30-869a-0ad520a0a3f5']

In [349]:
one_way_user_recommed = one_way_recommendations.groupby('user_id')['minimum_dis_trip'].apply(list)

In [373]:
one_way_final = pd.DataFrame({'trips':one_way_user_trips, 'recommed':one_way_user_recommed})

In [392]:
pd.set_option('display.max_columns', 50)
one_way_final['trips'].head(1)

In [394]:
one_way_final['trips'][0]

['a151809e-45e4-3f0e-a280-36f685b1cdd3',
 '2fdbca5c-3f85-3e30-869a-0ad520a0a3f5']

In [405]:
def filtered_reco(row):
    ls_trip = (row['trips'])
    ls_reco = (row['recommed'])
    A =set(ls_reco)
    B = set(ls_trip)
    to_recommend =(A-B )
    return to_recommend

In [406]:
one_way_final['final_recommend'] = one_way_final.apply(filtered_reco,axis=1)

In [409]:
np.sum(one_way_final['recommed'] !=one_way_final['final_recommend'])

6062

In [416]:
one_way_final['trips'][0], one_way_final['final_recommend'][0]

(['a151809e-45e4-3f0e-a280-36f685b1cdd3',
  '2fdbca5c-3f85-3e30-869a-0ad520a0a3f5'],
 {'48a45b93-71d5-34a6-a8e8-fb22b519158d',
  '8d4f33c7-fa46-36cc-a494-8b26ed4d4d44'})

In [ ]:
['a151809e-45e4-3f0e-a280-36f685b1cdd3',
  '2fdbca5c-3f85-3e30-869a-0ad520a0a3f5',
 '48a45b93-71d5-34a6-a8e8-fb22b519158d',
  '8d4f33c7-fa46-36cc-a494-8b26ed4d4d44']

In [417]:
trip_data_one_way[trip_data_one_way['trip_id'].isin(['a151809e-45e4-3f0e-a280-36f685b1cdd3',
  '2fdbca5c-3f85-3e30-869a-0ad520a0a3f5',
 '48a45b93-71d5-34a6-a8e8-fb22b519158d',
  '8d4f33c7-fa46-36cc-a494-8b26ed4d4d44'])]

,trip_id,weekend,filter_no_lcc,filter_non_stop,filter_short_layover,latitude_origin,longitude_origin,latitude_destination,longitude_destination,departure_month,departure_year,origin_type_airport,origin_type_city,destination_type_airport,destination_type_city,"filter_name_And(NonStop,NoLCC)","filter_name_And(ShortLayover,NoLCC)",filter_name_NoFilter,filter_name_NoLCC,filter_name_NonStop,filter_name_ShortLayover
3533,8d4f33c7-fa46-36cc-a494-8b26ed4d4d44,0,0,0,0,41.896819,-88.083160,40.703167,-73.940066,6,2018,0,1,0,1,0,0,1,0,0,0
15397,48a45b93-71d5-34a6-a8e8-fb22b519158d,0,0,0,0,40.703167,-73.940066,18.429701,-69.668900,9,2018,0,1,1,0,0,0,1,0,0,0
28731,a151809e-45e4-3f0e-a280-36f685b1cdd3,0,0,1,0,40.703167,-73.940066,18.567400,-68.363403,9,2018,0,1,1,0,0,0,0,0,1,0
44375,2fdbca5c-3f85-3e30-869a-0ad520a0a3f5,0,0,0,0,41.896819,-88.083160,41.504101,-74.104797,7,2018,0,1,1,0,0,0,1,0,0,0

In [ ]:
# Will recommend trips which are close to origin, destination, and close to departure and arrival date.

In [410]:
one_way_final.shape

(6062, 3)

In [326]:
trip_data_two_way['return_month'] = pd.DatetimeIndex(trip_data_two_way['return_date']).month
trip_data_two_way['return_year'] = pd.DatetimeIndex(trip_data_two_way['return_date']).year

C:\Users\ankur\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\ankur\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [327]:
trip_data_two_way.drop(['return_date','departure_date'], axis=1, inplace=True)

C:\Users\ankur\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [328]:
two_way_trips = list(trip_data_two_way['trip_id'])

In [329]:
trip_data_two_way.drop(['trip_id'], axis=1, inplace=True)

C:\Users\ankur\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [330]:
matrix_two_way = trip_data_two_way.values

In [331]:
dist_twoway = euclidean_distances(matrix_two_way, matrix_two_way)

MemoryError: